.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: auto;
    grid-template-areas: 
    " a b c d";
    /* style the columns and rows here */
    padding: 100px;
  
}
.a {

 grid-area: a;
 background-color: aquamarine;
 
}

.b {
  
  grid-area: b;
  background-color: greenyellow;
  border: solid 2px;
}

.c {
  
  grid-area: c;
  background-color: yellow ;

}

.d {
  grid-area: d;
  background-color: orange;
  border: solid 2px;
  
}
.a, .b, .c, .d {
  padding: 100px;
}